<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<property name="COM_LOG_FILE" value="/data/logs/rsf/rsf.log" />

	<appender name="COM_LOG_FILE_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } [%t] --- %-40.40logger{39} [%file:%line] : %msg%n</pattern>
		</encoder>
		<file>${COM_LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${COM_LOG_FILE}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="com.shanghai.albert" level="DEBUG">
		<appender-ref ref="COM_LOG_FILE_APPENDER" />
	</logger>

</configuration>
